@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 1px solid red;  */
}

.banner {
  background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}


/* buttons */
.my-btn-primary {
  border-radius: 8px;
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  padding: 10px 20px;
}

.default {
  @apply font-semibold tracking-wide text-default-color transition-colors duration-200
}

.actives {
  @apply font-semibold tracking-wide text-cyan-800 transition-colors duration-200
}

/* job category card design */
.my-card {
  background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
  border-radius: 8px;

  padding: 20px;
}

/* featured card styles */
.my-featured-card {
  border: 1px solid #E8E8E8;
  border-radius: 8px;
  padding-left: 40px;
}

.my-application-card {
  background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
  border-radius: 8px;
  padding: 20px;
}

/* apply icons design */
.apply-icon {
  @apply w-6 h-6 mr-1 stroke-[#7E90FE] fill-none
}