@tailwind base;
@tailwind components;
@tailwind utilities;
/* buttons */
.my-btn-primary{
  border-radius: 8px;
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
  color: #FFFFFF;
  font-weight: 700;
font-size: 20px;
line-height: 27px;
padding: 17px 25px;
}
.default {
  @apply font-semibold tracking-wide text-default-color transition-colors duration-200 hover:text-cyan-600
}
.actives {
  @apply font-semibold tracking-wide text-cyan-800 transition-colors duration-200
}